:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* center the main */
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--light-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 320px;
  height: 500px;
  padding: 16px;

  background-color: var(--white);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main * {
  margin-bottom: 18px;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  padding: 0 12px;
  font: 700 22px "Outfit", sans-serif;
  color: var(--dark-blue);
}

p {
  padding: 0 16px;
  font: 400 15px "Outfit", sans-serif;
  color: var(--grayish-blue);
}
